# 4가지 파일을 중복을 제거한 후 통합저장

In [1]:
import pandas as pd

In [16]:
df = pd.read_excel('data/data_/1_crawling_jejudoGwanGwang.xlsx')
filenames = ['data/data_/1_crawling_jejudoGwanGwang.xlsx',
            'data/data_/1_crawling_jejudoMatJip.xlsx',
            'data/data_/1_crawling_jejuMatJip.xlsx',
            'data/data_/1_crawling_jejuYeoHang.xlsx']

In [17]:
jeju_df = pd.DataFrame([])
for fname in filenames:
    df = pd.read_excel(fname)
    jeju_df = jeju_df.append(df)

jeju_df.shape

(12780, 5)

In [20]:
# 중복제거
jeju_df.drop_duplicates(subset=['content'], inplace=True)
jeju_df.to_csv('data/제주핫플레이스.csv', index=False)

In [21]:
jeju_df.shape

(8369, 5)

In [23]:
df = pd.read_csv('data/제주핫플레이스.csv')
df.tail()

,content,date,like,place,tags
8364,Now it's purple😆💜수색 넘 이쀼리 🤭 올해는 아퓨지말구 즐거운 일만 가...,2019-01-01,42,NaN,"['#일상', '#구기자', '#티타임', '#2019', '#새해', '#차스타그..."
8365,.간다간다간다#제주 #친정여행 #겨울방학 #제주여행앞머리는 괜히 전날 잘라서 또순이...,2019-01-01,50,NaN,"['#제주', '#친정여행', '#겨울방학', '#제주여행앞머리는', '#친정찬스'..."
8366,2019년 모두 복 많이많이 받고 풍요로운 한해 보내길 ♥️#사진좀찍으시는님덕에건져...,2019-01-01,68,Jeju,"['#사진좀찍으시는님덕에건져또', '#이순간']"
8367,2018.12.25 ⠀룸에 의자가 두개 밖에 없어서 ⠀이현이는 유모차에 앉아서 식사...,2019-01-01,70,NaN,[]
8368,.2019년 첫날디스이즈핫에서 새해를 맞이하시는 손님들께 떡국을 준비했습니다.한 해...,2019-01-01,48,디스이즈핫,['#HappyNewYearEveryone']