# 인구소멸 위기지역 - 전처리 (Part 2)

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [3]:
data_folder ='/content/mnt/MyDrive/data/인구소멸위기지역'

In [4]:
pop = pd.read_csv(f'{data_folder}/시군구_전처리완료.csv', encoding='euc-kr')
pop.head()

  광역시도  시군구  20-39세계  20-39세남자  ...   인구수여자      소멸비율  소멸위기지역  소멸위기고위험지역
0  강원도  강릉시    47006     25199  ...  106618  0.497536    True      False
1  강원도  고성군     5217      3175  ...   12928  0.263314    True      False
2  강원도  동해시    18727     10469  ...   44242  0.469952    True      False
3  강원도  삼척시    13583      7469  ...   32348  0.380481    True      False
4  강원도  속초시    18080      9909  ...   41185  0.538629   False      False

[5 rows x 14 columns]

## 고유 ID 만들기

In [5]:
print(len(pop))
print(len(pop.시군구.unique()))
pop.시군구.unique()

250
226

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구', '김포시',
       '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구', '상록구',
       '수정구', '수지구', '시흥시', '안성시', '양주시', '양평군', '여주시', '연천군', '영통구',
       '오산시', '의왕시', '의정부시', '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구',
       '파주시', '팔달구', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시',
       '남해군', '마산합포구', '마산회원구', '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군',
       '의창구', '진주시', '진해구', '창녕군', '통영시', '하동군', '함안군', '함양군', '합천군',
       '경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '남구', '문경시', '봉화군', '북구',
       '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군',
       '울진군', '의성군', '청도군', '청송군', '칠곡군', '광산구', '동구', '서구', '달서구', '달성군',
       '수성구', '중구', '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구', '부산진구',
       '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구', '강남구', '강동구', '강북구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구',
       '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
       '종로구', '중랑구', '세종시', '울주군', '강화군', '계양구', '남동구', '미추홀구', '부평구',
       '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군',
       '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군',
       '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군', '군산시', '김제시',
       '남원시', '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군', '익산시', '임실군',
       '장수군', '정읍시', '진안군', '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시',
       '당진시', '동남구', '보령시', '부여군', '서북구', '서산시', '서천군', '아산시', '예산군',
       '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '상당구', '서원구', '영동군',
       '옥천군', '음성군', '제천시', '증평군', '진천군', '청원구', '충주시', '흥덕구'],
      dtype=object)

In [7]:
# 고성군 - 고성(강원), 고성(강남)
# 광역시 - 서울 용산, 서울 서대문, 대전 서구, 대전 유성
# 행정구 - 수원 장안, 용인 수지, 고양 일산동, 창원 함포, 창원 화원
# 지도에 맞게 표현하는 법
tmp_gu_dict = {
    '수원':['장안구', '권선구', '팔달구', '영통구'], 
    '성남':['수정구', '중원구', '분당구'], 
    '안양':['만안구', '동안구'], 
    '안산':['상록구', '단원구'], 
    '고양':['덕양구', '일산동구', '일산서구'], 
    '용인':['처인구', '기흥구', '수지구'], 
    '청주':['상당구', '서원구', '흥덕구', '청원구'], 
    '천안':['동남구', '서북구'], 
    '전주':['완산구', '덕진구'], 
    '포항':['남구', '북구'], 
    '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [11]:
metro_list = ['서울특별시','부산광역시','대구광역시','인천광역시','대전광역시','광주광역시','울산광역시']
si_name = [None] * len(pop)

for i in pop.index:
    if pop.광역시도[i] in metro_list:
        if len(pop.시군구[i]) == 2:
            si_name[i] = pop.광역시도[i][:2] + ' ' + pop.시군구[i]
        else:
            si_name[i] = pop.광역시도[i][:2] + ' ' + pop.시군구[i][:-1]     # 긴 구 이름에서 '구' 제외
    else:
        if pop.시군구[i][:-1] == '고성':
            if pop.광역시도[i] == '강원도':
                si_name[i] = '고성(강원)'
            else:
                si_name[i] = '고성(경남)'
        else:
            si_name[i] = pop.시군구[i][:-1]

        for key, values in tmp_gu_dict.items():
            if pop.시군구[i] in values:
                if len(pop.시군구[i]) == 2:
                    si_name[i] = key + ' ' + pop.시군구[i]
                elif pop.시군구[i] in ['마산합포구', '마산회원구']:
                    si_name[i] = key + ' ' + pop.시군구[i][2:-1]
                else:
                    si_name[i] = key + ' ' + pop.시군구[i][:-1]

In [12]:
pop['ID'] = si_name
del pop['20-39세남자']
del pop['65세이상남자']
del pop['65세이상여자']
print(pop.shape)
pop.head()

(250, 12)

  광역시도  시군구  20-39세계  20-39세여자  ...      소멸비율  소멸위기지역  소멸위기고위험지역      ID
0  강원도  강릉시    47006     21807  ...  0.497536    True      False      강릉
1  강원도  고성군     5217      2042  ...  0.263314    True      False  고성(강원)
2  강원도  동해시    18727      8258  ...  0.469952    True      False      동해
3  강원도  삼척시    13583      6117  ...  0.380481    True      False      삼척
4  강원도  속초시    18080      8171  ...  0.538629   False      False      속초

[5 rows x 12 columns]

In [13]:
pop.to_csv(f'{data_folder}/시군구_ID부여.csv', encoding='euc-kr', index=False)