# 커피지수
## 1. 데이로부터 4개 커피샾에대한 정보 추출해서 저장하기

In [396]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [397]:
from google.colab import drive
drive.mount('/content/mnt')

Drive already mounted at /content/mnt; to attempt to forcibly remount, call drive.mount("/content/mnt", force_remount=True).

In [398]:
data_folder = '/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630'

In [399]:
from glob import glob
file_list = []
for file in glob(f'{data_folder}/*.csv'):
  file_list.append(file)

In [400]:
file_list[10]

'/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv'

In [401]:
df = pd.read_csv(file_list[10], encoding = 'utf-8')
print(df.shape)
#상호명, 지점명, 시도명, 시군구명, 도로명주소, 상권업종중분류코드

(316078, 39)

In [402]:
df = df[['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드']]
df.head()

     상호명  지점명    시도명  시군구명                  도로명주소 상권업종중분류코드
0    비지트  NaN  서울특별시   서초구    서울특별시 서초구 동광로18길 82       Q01
1   쓰리에프  NaN  서울특별시   동작구  서울특별시 동작구 동작대로27가길 12       Q01
2     채움  NaN  서울특별시   종로구       서울특별시 종로구 삼봉로 81       Q01
3  호구의주방  NaN  서울특별시  영등포구     서울특별시 영등포구 선유로 269       D07
4     다향  NaN  서울특별시   서초구      서울특별시 서초구 효령로 230       Q01

In [403]:
df = df[df.상권업종중분류코드=='Q12']
df.head()

       상호명          지점명    시도명 시군구명                도로명주소 상권업종중분류코드
28     커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25       Q12
111  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7       Q12
190  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149       Q12
197  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48       Q12
225   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6       Q12

In [433]:
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS',case=False, na=False)]#nun값이 있어도 읽는다
cb = df[df.상호명.str.contains('커피빈|COFFEBEAN',case=False, na=False)]#nun값이 있어도 읽는다
ed = df[df.상호명.str.contains('이디야|EDIYA',case=False, na=False)]#nun값이 있어도 읽는다
bk = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE',case=False, na=False)]#nun값이 있어도 읽는다

In [434]:
len(sb), len(cb), len(ed), len(bk)

(489, 168, 440, 127)

In [364]:
print(df.상호명.value_counts())

카페         414
이디야커피      367
스타벅스       331
투썸플레이스     165
커피빈        115
          ...
테이블스         1
나이스투밋츄       1
소정공방         1
리틀마라캐쉬       1
베러씽스아커밍      1
Name: 상호명, Length: 15019, dtype: int64

In [437]:
shop_name = [['스타벅스','STARBUCKS'], ['이디야', 'EDIYA'] , ['커피빈', 'COFFEBEAN'], ['빽다방', 'PAIK']]
df2 = pd.DataFrame()
for name_l in shop_name:
  for name in name_l:
    df_n = df[df.상호명.str.contains(name, case=False)] # case는 다 대문자로해서 찾는다
    df_n['상호명'] = df_n.상호명.apply(lambda x : name_l[0])
    df2 = pd.concat([df2,df_n])
df2 = df2.loc[~df2.index.duplicated(keep='first')]

In [438]:
df2.상호명.value_counts()

스타벅스    489
이디야     440
커피빈     168
빽다방     127
Name: 상호명, dtype: int64

In [409]:
df2 = df2.loc[~df2.index.duplicated(keep='first')]

In [392]:
print(df2.index.nunique(),len(df2))

1214 1214

In [462]:
all_coffe_shop = pd.DataFrame()
shop_name = [['스타벅스','STARBUCKS'], ['이디야', 'EDIYA'] , ['커피빈', 'COFFEBEAN'], ['빽다방', 'PAIK']]
file_list = []
for file in glob(f'{data_folder}/*.csv'):
  df = pd.read_csv(file, encoding = 'utf-8')
  df = df[['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드']]
  df = df[df.상권업종중분류코드=='Q12']
  df2 = pd.DataFrame()
  for name_l in shop_name:
    for name in name_l:
      df_n = df[df.상호명.str.contains(name, case=False)]
      df_n['상호명'] = df_n.상호명.apply(lambda x : name_l[0])
      df2 = pd.concat([df2,df_n])
  df2 = df2.loc[~df2.index.duplicated(keep='first')] #인덱스 중복제거
  all_coffe_shop = pd.concat([df2,all_coffe_shop])

In [463]:
all_coffe_shop.shape

(4566, 6)

In [445]:
all_coffe_shop.reset_index(inplace=True)

In [447]:
del all_coffe_shop['index']
del all_coffe_shop['level_0']

In [448]:
all_coffe_shop

       상호명       지점명   시도명     시군구명                  도로명주소 상권업종중분류코드
0     스타벅스    천안이마트점  충청남도  천안시 서북구   충청남도 천안시 서북구 충무로 187       Q12
1     스타벅스   천안ICDT점  충청남도  천안시 동남구   충청남도 천안시 동남구 신부15길 3       Q12
2     스타벅스     공주신관점  충청남도      공주시      충청남도 공주시 번영1로 113       Q12
3     스타벅스  천안신부동더샵점  충청남도  천안시 동남구     충청남도 천안시 동남구 만남로 9       Q12
4     스타벅스    천안성정DT  충청남도  천안시 서북구  충청남도 천안시 서북구 동서대로 154       Q12
...    ...       ...   ...      ...                    ...       ...
5032   빽다방   원주혁신도시점   강원도      원주시         강원도 원주시 혁신로 61       Q12
5033   빽다방      강원대점   강원도      춘천시   강원도 춘천시 서부대성로239번길 4       Q12
5034   빽다방   강릉교동중앙점   강원도      강릉시         강원도 강릉시 솔올로 51       Q12
5035   빽다방     강릉금학점   강원도      강릉시        강원도 강릉시 신대학길 14       Q12
5036   빽다방    화천사내면점   강원도      화천군   강원도 화천군 사내면 사내로 40-3       Q12

[5037 rows x 6 columns]

In [450]:
starbucks = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드'])
coffeebean = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드'])
ediya = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드'])
paik = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드'])

In [451]:
for file in glob(f'{data_folder}/*.csv'):
  df = pd.read_csv(file, encoding = 'utf-8')
  df = df[['상호명', '지점명', '시도명', '시군구명', '도로명주소', '상권업종중분류코드']]
  df = df[df.상권업종중분류코드=='Q12']

  sb = df[df.상호명.str.contains('스타벅스|STARBUCKS',case=False, na=False)]#nun값이 있어도 읽는다
  cb = df[df.상호명.str.contains('커피빈|COFFEBEAN',case=False, na=False)]#nun값이 있어도 읽는다
  ed = df[df.상호명.str.contains('이디야|EDIYA',case=False, na=False)]#nun값이 있어도 읽는다
  bk = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE',case=False, na=False)]#nun값이 있어도 읽는다

  starbucks = pd.concat([sb,starbucks])
  coffeebean = pd.concat([cb,coffeebean])
  ediya = pd.concat([ed,ediya])
  paik = pd.concat([bk,paik])

In [452]:
len(starbucks), len(coffeebean), len(ediya), len(paik)

(1547, 290, 2120, 609)

In [453]:
!mkdir -p /content/mnt/MyDrive/results/CoffeeIndex

In [455]:
result_dir = '/content/mnt/MyDrive/results/CoffeeIndex'

In [464]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
paik.to_csv(f'{result_dir}/빽다방.csv', index=False)
all_coffe_shop.to_csv(f'{result_dir}/종합_내가한거.csv', index=False)