# 데이터 프레임 고급 인뎅식

In [2]:
import pandas as pd
import numpy as np

## loc 인덱서
> 넘파이처럼 인덱싱

> df.loc[행 인덱싱값]

> df.loc[행 인덱싱값, 열 인덱싱값]

> df.iloc[행 숫자, 열숫자]

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

### 1. 행 인덱싱

In [9]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int32

In [10]:
df.loc['x' : 'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [11]:
df['x' : 'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [12]:
df.loc[['x', 'y']]

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [14]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

#### Bool indexing

In [16]:
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

### 3. 인덱서 2개를 받는 경우

In [19]:
df.loc['x', 'A']

10

In [20]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int32

In [21]:
df.loc[df.A>10, 'A']

y    14
z    18
Name: A, dtype: int32

### 4. iloc 인덱서

In [22]:
df.iloc[0,0]

10

In [24]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [25]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int32

## 연습문제 4.3.1

### 1.모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

In [26]:
df = pd.DataFrame(np.arange(25).reshape(5,5),
                   index = ['a', 'b', 'c', 'd', 'e'],
                   columns = ['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

### 2.10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [28]:
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [32]:
df.loc['c', 'x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [35]:
df.iloc[2][2], df.iloc[2]['x'], df.iloc[2, 2]

(12, 12, 12)

In [37]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [38]:
for i in df.index: 
    print(df.x[i])

2
7
12
17
22